.product{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.productDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

